.author{
  font-variant: small-caps !important;
  text-align: left !important;
}

  .affiliation {
  text-align: left !important;
  font-size: 50% !important;

  }

h3.title{
  font-variant: small-caps !important;
}

  .boxedleft {
    border-left-color: #EEE8D5 !important;
    border-left-width: thick !important;
    border-left-style: solid !important;
    border-right-color:  #EEE8D5 !important;
    border-right-width: thick !important;
    border-right-style: solid !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-top-left-radius: .5em !important;
    border-bottom-left-radius: .5em !important;
    border-top-right-radius: .5em !important;
    border-bottom-right-radius: .5em !important;
    display: inline-block !important;
    float: left;
  }

  div.left{
  float: left !important;
  display: inline-block !important;
  width: 50% !important;
}

div.right{
  float: right !important;
  display: inline-block !important;
  width: 50% !important;
}

div.vhelper {
    display: inline-block !important;
    height: 100% !important;
    vertical-align: middle !important;
}

img.valg {
    vertical-align: middle !important;
}

.myhigh{
  font-size: 125% !important;
  color: #971F28 !important;
}

.goldbox{
  border: 5px dotted #E9D700 !important;
}

.redbox{
  border: 5px dotted #940000 !important;
}
