.author{
  font-variant: small-caps !important;
  text-align: left !important;
  font-size: 75% !important;
}

  .affiliation {
  text-align: left !important;
  font-size: 50% !important;

  }

li{
  padding: 5px 0px !important;
}

  .slidetitle{

  }

  .ls {
    text-align: left !important;
    font-size: 75% !important;
  }

div.left{
  float: left !important;
  display: inline-block !important;
  width: 50% !important;
}

div.right{
  float: right !important;
  display: inline-block !important;
  width: 50% !important;
}

  .boxedleft {
    border-left-color: white !important;
    border-left-width: thick !important;
    border-left-style: solid !important;
    border-right-color: white !important;
    border-right-width: thick !important;
    border-right-style: solid !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    border-top-left-radius: .5em !important;
    border-bottom-left-radius: .5em !important;
    border-top-right-radius: .5em !important;
    border-bottom-right-radius: .5em !important;
    display: inline-block !important;
    float: left;
  }

  .axis path,
  .axis line {
  stroke: white;
  shape-rendering: crispEdges;
  }
  .axis text {
  font-family: Optima, Futura, sans-serif;
  font-weight: bold;
  font-size: 14px;
  fill: white;
  }

  img{
    border:none !important;
    background:none !important;
    box-shadow:none !important;
  }

  img.make-it-fit {
      max-width: 99%;
      max-height: 99%;
  }
